// Body
$body-bg: #f8fafc;

// Typography
$header-font: 'Oswald', sans-serif;
$base-font: 'Helvetica', sans-serif;
$base-font-size: 1rem;
$base-line-height: 1.6;

// Colors (With very dunglish names, sorry.)
$primary-font-color: rgba(0, 0, 0, 0.78);
$city-council-color: #522871;
$second-house-color: #c7da31;
$second-house-color-dark: #a2b530;
$second-house-color-light: #d9ec32;
$accent-color: #e03894;
$accent-color-dark: #c13776;
$accent-color-light: #ff42ab;
$water-schappen-color: #3bc2d4;
$first-house-color: #fec809;
$european-parliament-color: #e22948;
$primary-color: #20436f;
$background-color: linear-gradient(to bottom, #1a1a29, #4e4e59, #0f0f1e);
$admin-background-color: #e5e5e5;

:root {
  // Used for progress bar on proposition pages
  --second-house-color: #{$second-house-color};
  --accent-color: #{$accent-color-light};
}

// Configure MDC
$mdc-theme-primary: $water-schappen-color;
$mdc-theme-secondary: $accent-color;
$mdc-theme-on-primary: rgba(255, 255, 255, 0.87);
$mdc-theme-on-secondary: rgba(0, 0, 0, 0.87);
