// Body
$body-bg: #f8fafc;

// Typography
$base-font: 'Oswald', sans-serif;
$base-font-size: 1rem;
$base-line-height: 1.6;

// Colors
$primary-font-color: rgba(0, 0, 0, .78);
$city-council-color: #522871;
$second-house-color: #c7da31;
$accent-color: #e03894;
$water-schappen-color: #3bc2d4;
$first-house-color: #fec809;
$european-parliament-color: #e22948;
$primary-color: #20436f;
$background-color: linear-gradient(to bottom, #1A1A29, #4e4e59, #0F0F1E);

