// Fonts
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400');

// Components
@import 'Header';
@import 'variables';
@import "Card";
@import "Button";

// Global styles
body {
    font-family: $base-font;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $primary-font-color;
    background: $background-color;
}

// Reset that shit
html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#app {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.input {
    border: 0;
    padding: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.block {
    display: block;
    width: 100%;
}

