// Fonts
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400');
@import 'Header';
@import "VoterMainPage";
@import 'variables';

// Global styles
body {
    font-family: $base-font;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $primary-font-color;
    background: $background-color;
    height: 100vh;
}

// Reset that shit
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
