// Fonts
@import url('https://fonts.googleapis.com/css?family=Oswald');
// Normalize
@import '~normalize-scss/sass/normalize';
// Components
@import 'Header';
@import 'variables';
@import 'Card';
@import 'Button';
@import 'Input';
@import 'ProgressBar';
@import 'Spinner';
@import 'ImageInput';
@import 'ProfilePage';
@import 'VoterResultsPage';
@import 'FeedbackSlider';

// Global styles
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: $base-font;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 300;
  color: $primary-font-color;
  background: $background-color;
}

// Reset that shit
html,
body {
  padding: 0;
}

#app {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.block {
  display: block;
  width: 100%;
}
