@import 'variables';

.input,
.textarea {
  border: 0;
  padding: 0 10px;
  border-top: 2px solid $body-bg;
  background-color: $body-bg;
  font-size: $base-font-size;
  font-family: $base-font;
  width: 100%;

  &:focus {
    outline: none;
  }

  &:invalid {
    box-shadow: none;

    & + .input__underline {
      background-color: $european-parliament-color;
    }
  }

  &.dirty + .input__underline,
  &:focus + .input__underline {
    transform: scaleX(1);
  }
}

.input {
  height: 35px;
  line-height: 35px;
}

.textarea {
  height: calc(100% - 2px);
  resize: none;
  line-height: $base-line-height;
}

.input__wrapper {
  background-color: $body-bg;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
}

.input__underline {
  width: 100%;
  height: 2px;
  background-color: $second-house-color;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 250ms ease;
  bottom: 0;
  position: absolute;
}
