@import "~@material/card/mdc-card";
@import "~@material/textfield/mdc-text-field";
@import "~@material/textfield/icon/mdc-text-field-icon";

// Fonts
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400');
@import 'variables';

body {
    font-family: $base-font;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $primary-font-color;
    background: $admin-background-color;
    display: flex;
    justify-content: center;
    overflow: hidden;
    .material-icons {
        //background: red;
        cursor: pointer;
        font-size: 36px;
        padding: 10px;
    }
}
h2 {
    padding: 20px;
}

.material-icons.md-inactive { color: rgba(0, 0, 0, 0.26); }

.manage-survey-wrapper {
    background: $body-bg;
    width: 90%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    .manage-survey-row {
        //background: lightblue;
        //border: 1px solid;
        padding-left: 20px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .mdc-text-field{
        @include mdc-text-field-line-ripple-color($admin-login-text-color);
        padding-left: 10px;
        .mdc-text-field__input {
            //border: 1px solid;
            display: flex;
            width: 90%;
            padding: 10px;
        }
    }

    .mdc-text-field:not(.mdc-text-field--focused){
        @include mdc-text-field-line-ripple-color($admin-login-text-color);
    }
}

