@import "~@material/card/mdc-card";
@import "~@material/textfield/mdc-text-field";
@import "~@material/textfield/icon/mdc-text-field-icon";
@import "~@material/list/mdc-list";
@import "~@material/menu-surface/mdc-menu-surface";
@import "~@material/menu/mdc-menu";

// Fonts
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400');
@import 'variables';

body {

}
h2 {
    padding: 20px;
}

button {
    background: white;
    border: none;
}
.material-icons.md-inactive { color: rgba(0, 0, 0, 0.26); }

.manage-survey-wrapper {

    font-family: $base-font;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $primary-font-color;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background: $body-bg;    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    a {
        cursor: pointer;
        color: black;
        text-decoration: none;
    }

    .manage-survey-row {
        padding-left: 20px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;

        .material-icons {
            cursor: pointer;
            font-size: 30px;
            padding-right: 40px;
            color: #BCBCBC;
            margin-top: auto;
            margin-bottom: auto;
        }

        .add-survey-icon{
            font-size: 42px;
        }
    }

    .mdc-text-field{
        width: 93%;
    }
}

.mdc-text-field.mdc-text-field--focused {
    @include mdc-text-field-label-color($stemapp-blue);
    @include mdc-text-field-line-ripple-color($stemapp-blue);
}

.mdc-text-field:not(.mdc-text-field--focused){
    @include mdc-text-field-line-ripple-color($stemapp-blue);
}

