//Material design components
@import "~@material/drawer/mdc-drawer";
@import "~@material/list/mdc-list";
@import "~@material/top-app-bar/mdc-top-app-bar";
@import "~@material/textfield/mdc-text-field";
@import "~@material/icon-button/mdc-icon-button";

// Fonts
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400');
@import 'variables';

// Global styles
body {
  font-family: $base-font;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 300;
  color: $primary-font-color;
  background: $admin-background-color;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.right-side{
  display: flex;
  flex-direction: column;
  width: 90%;
}

.mdc-top-app-bar{
  height: 75px;
  border: 0;
  justify-content: center;

  //Mixins for styling
  @include mdc-top-app-bar-fill-color($admin-header-color);
  @include mdc-top-app-bar-icon-ink-color($primary-font-color);
  @include mdc-top-app-bar-ink-color($primary-font-color);
}

.page-content{
  padding: 100px 25px 25px 25px;
}

//Left side of admin panel
.mdc-drawer {
  width: 300px;
  padding: 0;
  margin: 0;
  @include mdc-drawer-item-activated-text-ink-color($stemapp-blue);
  @include mdc-drawer-item-activated-icon-ink-color($stemapp-blue);
  @include mdc-drawer-activated-overlay-color($stemapp-light-blue);

  .mdc-drawer__header{
    position: relative;
    padding: 0;

    .logo{
      max-width: 200px;
      position: absolute;
      bottom: 80px;
      left: 50px;
    }

    .mdc-drawer__title {
      position: absolute;
      bottom: 50px;
      left: 16px;
      color: $admin-title-color;
    }

    .mdc-drawer__subtitle {
      position: absolute;
      bottom: 25px;
      left: 16px;
      color: $admin-subtitle-color;
    }

    .mdc-icon-button {
      position: absolute;
      bottom: 10px;
      right: 10px;
      color: $admin-subtitle-color;
    }
  }

  .mdc-list-item:hover {
    background-color: $stemapp-blue-selected;
    color: $stemapp-blue;

    i {
      color: $stemapp-blue;
    }
  }
}

//Styling within header bar
.mdc-text-field{
  width: 40%;
}

.mdc-text-field.mdc-text-field--focused {
  @include mdc-text-field-label-color($stemapp-blue);
  @include mdc-text-field-line-ripple-color($stemapp-blue);
  @include mdc-text-field-outline-color($stemapp-blue);
}

.mdc-text-field:not(.mdc-text-field--focused){
  @include mdc-text-field-line-ripple-color($stemapp-blue);
}

.mdc-top-app-bar__section {
  justify-content: space-between;
}

