@import "~@material/card/mdc-card";
@import "~@material/textfield/mdc-text-field";
@import "~@material/textfield/icon/mdc-text-field-icon";

// Fonts
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400');
@import 'variables';

body {
  font-family: $base-font;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 300;
  color: $primary-font-color;
  background: $admin-background-color;
  justify-content: center;
}
h2 {
  padding: 20px;
}

.sub-text {
  font-size: 90%;
  color: dimgray;
}

.material-icons.md-inactive { color: rgba(0, 0, 0, 0.26); }

.propositions-card-wrapper {
  background: $body-bg;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: auto;
  border-radius: 5px;
  margin: 30px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  .proposition-row {
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    .material-icons {
      cursor: pointer;
      font-size: 42px;
      padding-right: 40px;
      color: #BCBCBC;
    }
  }
  .mdc-text-field{
    width: 93%;
    margin-bottom: 10px;
  }
}

.survey-person-card-wrapper {
  background: $body-bg;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 90%;
  height: auto;
  margin: 30px;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  padding-bottom: 40px;

  .person-row {
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    .material-icons {
      cursor: pointer;
      font-size: 42px;
      padding-right: 40px;
      color: #BCBCBC;
      margin-bottom: auto;
      margin-top: auto;
    }
  }
  .mdc-text-field{
    width: 93%;
    margin-bottom: 10px;

  }
}
.mdc-text-field.mdc-text-field--focused {
  @include mdc-text-field-label-color($admin-login-text-color);
  @include mdc-text-field-line-ripple-color($admin-login-text-color);
}

.mdc-text-field:not(.mdc-text-field--focused){
  @include mdc-text-field-line-ripple-color($admin-login-text-color);
}
