@import 'variables';

.voter-result-page__container {
    display: grid;
    grid-template-columns: 75px 1fr;
    grid-template-rows: 20px 35px 20px;
    grid-template-areas: 'picture name' 'picture percentage' 'picture function';
    grid-column-gap: 5px;
    font-size: 12px;
}

.voter-result-page__picture {
    grid-area: picture;
    width: 75px;
    height: 75px;
    background-size: 115px;
    background-position: center center;
    background-repeat: no-repeat;
}

.voter-result-page__name {
    grid-area: name;
    font-size: 18px;
    font-weight: bold;
}

.voter-result-page__percentage {
    grid-area: percentage;
    color: $city-council-color;
    font-size: 30px;
    font-weight: bold;
}

.voter-result-page__function {
    grid-area: function;
}
